/* StatementSection.css */

.text-reveal-section {
  background-color: transparent; /* Removed background color */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 40px; /* Significant padding on all sides */
  min-height: 100vh; /* Ensure it takes up 100% of the viewport height */
}
.black-font {
  color: #0e1111 !important;
}

.text-reveal-text {
  color: #F0EFEA; /* White text */
  font-family: 'CustomFont', sans-serif;
  /* font-family: 'Montserrat', sans-serif; Montserrat font */
  font-size: 48px; /* Very large font size */
  font-weight: bold; /* Make it bold */
  line-height: 1.4; /* Generous line-height */
  /* letter-spacing: -0.05em; */
  text-align: left;
  /* text-transform: uppercase; Make it uppercase */
  max-width: 800px; /* Max width for comfortable line lengths */
  margin: 0 auto; /* Center the text block */
}

.text-reveal-text a {
  color: inherit;
  text-decoration: underline;
  font-weight: inherit;
  cursor: pointer;
}

/* Responsive adjustments */


@media (max-width: 768px) {
  .text-reveal-section {
    padding: 60px 20px;
  }

  .text-reveal-text {
    font-size: 36px;
  }
}

@media (max-width: 480px) {
  .text-reveal-section {
    padding: 40px 15px;
  }

  .text-reveal-text {
    font-size: 28px;
    line-height: 1.3;
  }
}

.background-white {
  background: #F3F4F6;
}