@font-face {
  font-family: 'CustomFont';
  src: url('./fonts/font.otf') format('opentype');
}

body {
  margin: 0;
  font-family: 'CustomFont', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0e1111; /* Dark background */
  color: #333;
  line-height: 1.6;
}

.App {
  text-align: center;
  overflow-x: hidden; /* Prevent horizontal scroll */
}

